//.root-folder {
//  width: 350px;
//}
/* all levels */
.tree-view-folders a {
  color: #000;
  text-decoration: none;
}

/* first level */
.tree-view-folders {
  list-style-type: none;
  //background: url(dots1.png) repeat-y 0 0;
  padding: 0;
}

.tree-view-folders li {
  display: inline;
}
::selection {
  background: none;
}
.tree-view-folders li {

  a {
    display: block;
    padding: 0 0 0 50px;
    line-height: 3;
    cursor: pointer;

    & > img {
      padding: 0 10px 0 10px;
    }
    &[class*="folder-"] {
      padding: 0 0 0 55px;
      margin: 0;
      background: url("../../../../public/assets/images/icons8-folder.svg") no-repeat 5px 2px;

      &.open {
        background: url("../../../../public/assets/images/icons8-opened-folder.svg") no-repeat 5px 2px;
      }
    }
  }
}


/* second level */
.tree-view-folders ul {
  margin: 0 50px;
  padding: 0;
}
