.root-folder {
  overflow: auto;
  width: 100%;
}
/* all levels */
.tree-view-folders a {
  color: #000;
  text-decoration: none;
}

/* first level */
.tree-view-folders {
  list-style-type: none;
  //background: url(dots1.png) repeat-y 0 0;
  padding: 0;
}

.tree-view-folders li {
  display: inline;
}
::selection {
  background: none;
}
.tree-view-folders li {

  a {
    display: block;
    margin: 5px 50px;
    line-height: 3;
    cursor: pointer;
    width: 100%;
    & > img {
      padding: 0 10px 0 10px;
      margin: 5px 0;
    }
    &[class*="folder-"] {
      padding: 0 0 0 55px;
      min-width: 100px;
      margin: 0;
      background: url("../../../../public/assets/images/icons8-folder.svg") no-repeat 5px 2px;

      &.open {
        background: url("../../../../public/assets/images/icons8-opened-folder.svg") no-repeat 5px 2px;
      }
    }
  }
}


/* second level */
.tree-view-folders ul {
  margin: 0 50px;
  padding: 0 ;
}
@media screen and (max-width: 600px){
  .tree-view-folders {
  ul{
      margin: 0 30px;
    li {
      a {
        height: 45px;

        &[class*="folder-"] {
          background-size: 35px;
          padding: 0 0 0 48px;

          &.open {
            background-size: 35px;
            padding: 0 0 0 48px;

            img {
            }
          }
        }
      }
    }
    }
  }
}
