.container-gallery {
  #gallery {
    .prev-btn, .next-btn{
      position: absolute;
      top: 40%;
      font-size: 20px;
      border: 1px solid #ffffff;
      padding: 5px 9px 9px 9px;
      border-radius: 25px;
      line-height: 1;
      cursor: pointer;

    }
    .prev-btn {
      left: -35px;
    }
    .next-btn {
      right: -35px;
    }
    .delete-image {
      position: relative;
      top: 30px;
      left: 82%;
      color: aliceblue;
      background: #0002;
      border: 1px solid red;
      padding: 2px 13px;
      border-radius: 7px;
      cursor: pointer;
      &:active {
        top: 31px
      }
    }
  }
}
@media screen and (max-width: 600px){
  .container-gallery {
    #gallery {
      .prev-btn {
        left: 8px;
      }
      .next-btn {
        right: 8px;
      }
    }
  }
}
@media screen and (max-width: 426px){

  .container-gallery {
    #gallery {
      .delete-image {
        left: 77%;
      }
    }
  }
}
